.image
	.centered
	.wrapper-box
		.text-box
			%span.text-primary
				Cygnus es conocimiento y consultoría estratégica para tu empresa
			= image_tag "frontend/clientes/flecha.png", id: "arrow", class: "hidden-xs"
		%span.text-second.hidden-xs
			Mas de 25 años de experiencia
.container#container-about
	.col-lg-5.col-sm-5.col-sm-12.col-xs-12
		#container-primary
			%h2{ style: "margin-bottom:30px; margin-top:10px;"} ¿Por qué Cygnus Conocimiento?
			%p Somos un equipo de profesionales integrales con mas de 25 años de experiencia en sistemas de gestión de calidad ISO 9001, desarrollo organizacional y logística que desde 2005 se dedica a brindar servicios de consultoría enfocado al mejoramiento empresarial.
			
			%h3{ style: "color:#2a54a8; font-family: 'Lato', sans-serif; font-weight:700; font-style: italic;"} Visión
			%p Nuestra Visión es ser una empresa de referencia nacional en el área de consultoría empresarial.

			%h3{ style: "color:#2a54a8; font-family: 'Lato', sans-serif; font-weight:700; font-style: italic;"} Misión
			%p Nuestra misión es satisfacer las necesidades de nuestros clientes en al área de consultoría empresarial, con un talento humano especializado, para potenciar el logro de la excelencia en la gestión de nuestros clientes.
	.col-lg-7.col-sm-7.col-sm-12.col-xs-12{ style: "padding:0px;"}
		#container-second
			= image_tag "frontend/empresas/image_second.png", id: "image_second", style: "margin-top:20px;"



