%footer
	.image-footer
		.text
			Cygnus Conocimiento, C.A. | Todos los derechos reserveados
	.credits
		.container
			.row
				.col-lg-6.col-md-6.col-sm-6.col-xs-6
					Desarrollado por
					= link_to "http://slicegroup.xyz/" do
						= image_tag "frontend/sliceg.png", width: "60px", style: "display: inline; margin-bottom:0px; margin-left:2px;"
				.col-lg-6.col-md-6.col-sm-6.col-xs-6
					.pull-right
						%span{style: "position:relative;top:5px;"}
							Diseñado por
						= link_to "http://studiomuffin.com/" do
							= image_tag "frontend/muffin.png", width: "90px", style: "display: inline; margin-bottom:0px; margin-left:2px;"