= content_for(:title, "Cygnus | Clientes")
#clients
	.image
		.centered
		.wrapper-box
			.text-box
				%span.text-primary
					Conoce el selecto grupo de clientes que han confiado en nosotros
				= image_tag "frontend/clientes/flecha.png", id: "arrow", class: "hidden-xs"
			%span.text-second.hidden-xs
				Los clientes como la mejor tarjeta de presentación
	.container{ style: "margin-top:30px; margin-bottom:30px; width:80%;"}
		%h2{ style: "margin-bottom:30px;"}
			Nuestros clientes
		.col-lg-6.col-md-6.col-sm-12.col-xs-12
			= image_tag "frontend/clientes/image_second.png"
		.col-lg-6.col-md-6.col-sm-12.col-xs-12
			.row
				.col-lg-6.col-md-6.col-sm-6.col-xs-6
					= image_tag "frontend/clientes/caderco.png", class: "logos"
				.col-lg-6.col-md-6-col-sm-6.col-xs-6
					= image_tag "frontend/clientes/offshore.png", class: "logos"
			.row
				.col-lg-6.col-md-6.col-sm-6.col-xs-6
					= image_tag "frontend/clientes/udefa.png", class: "logos"
				.col-lg-6.col-md-6.col-sm-6.col-xs-6
					= image_tag "frontend/clientes/dist-sierra.jpg", class: "logos"
			.row
				.col.lg-6.col-md-6.col-sm-6.col-xs-6
					= image_tag "frontend/clientes/promotora adriana.png", class: "logos"
				.col-lg-6.col-md-6.col-sm-6.col-xs-6
					= image_tag "frontend/clientes/sabilven.png", class: "logos"
			.row
				.col-lg-6.col-md-6.col-sm-6.col-xs-6
					= image_tag "frontend/clientes/carirubana-eps.png", class: "logos"
				.col-lg-6.col-md-6.col-sm-6.col-xs-6
					= image_tag "frontend/clientes/hidrofalcon.jpg", class: "logos"
			.row
				.col-lg-6.col-md-6.col-sm-6.col-xs-6
					= image_tag "frontend/clientes/setica.png", class: "logos"
				.col-lg-6.col-md-6.col-sm-6.col-xs-6
					= image_tag "frontend/clientes/quintoca.jpg", class: "logos"

		.col-lg-12{ style: "margin-bottom: 30px; margin-top:30px;"}
			%center
				= link_to "Más clientes", "#", class: "btn btn-default btn-lg", "data-toggle"=>"modal", "data-target"=>"#myModal"

	.modal#myModal.fade
		.modal-dialog
			.modal-content{ style: "border-radius: 0px;"}
				.modal-header
					%button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
						%span{"aria-hidden" => "true"} &times;
					%h4.modal-title 
						%center Otros clientes que han confiado en nosotros
				.modal-body
					%ul
						%li CONSFIGCA
						%li FERCONCRET
						%li CLÍNICA SAN JUAN BOSCO
						%li ANDAMIOS ANDERSON
						%li HANA MOTORS
						%li COOPERATIVA MULTISERVICIOS SIETE
						%li CENTRO MEDICO MARIA AUXILIADORA
						%li LABORATORIO CLÍNICO DIVINA PASTORA
						%li SETICA
						%li TEXELLCA
						%li RMG TRADING, C.A.
						%li ALCALDÍA MUNICIPIO BOLIVAR
						%li MAMMOET DE VENEZUELA
						%li SER 2004
						%li DAYCOVEN
						%li AGREDA, C.A.
						%li GOAFE STYLOS

	= render "footer"