#home
	.centered
	#container-home
		#container-logo
			%a.about-click{ href: "#about"}
				= image_tag "frontend/home/logo_cygnus.png", id: "logo_cygnus"
			%center
				%a.text-home#about-click.about-click{ href: "#about"}
					Consultoria Empresarial para potenciar tu gestión
				%a#about-click.about-click{ href: "#about"}
					= image_tag "frontend/scrolldown.jpg", id: "scrolldown"
	= image_tag "frontend/home/footer.png", id: "footer-home"

#about
	= render "about"
	= render "footer"

:javascript
	$("#about").hide();
	$('.about-click').click(function(){
		$('#about').show();
		$('html, body, #front-navbar').animate({
			opacity: 1,
			scrollTop: $( $(this).attr('href') ).offset().top-90
		}, 500, function() {
			$("#home").hide();
			window.scrollTo(0, 0);
		});
		return false;
	});
	
	$("#logo_cygnus").bind('oanimationend animationend webkitAnimationEnd', function() { 
		$("#about-click").addClass("text-animate")
		$("#scrolldown").addClass("text-animate")
	});
		