= content_for(:title, "Cygnus | Servicios")
#services
	.image
		.centered
		.wrapper-box
			.text-box
				%span.text-primary
					Conoce nuestros servicios, somos los mejores en lo que hacemos
				= image_tag "frontend/clientes/flecha.png", id: "arrow", class: "hidden-xs"
			%span.text-second.hidden-xs
				Nuestra experiencia a su disposición
	.container{ style: "margin-top:18px; margin-bottom:30px; width:80%;"}
		%h2
			¿Qué ofrecemos?
	.list-services
		.container.container-list
			.col-lg-6
				%h2{ style: "color:white;"} Consultoría
				%p Diseño, desarrollo e implementación de sistemas de gestión de calidad ISO 9001
				%p Auditorias de calidad.
				%p Diagnostico y desarrollo organizacional.
				%p Gestión por competencias.
				%p Planificación estratégica.
				%p Estudios de competencias.
				%p Levantamiento y elaboración de descripciones de cargo.
				%p Reingenieria de procesos.
				%p Elaboración de manuales de organización.
				%p Elaboración de programas de seguridad y salud laboral.
				%p Notificación de riesgos.
			.col-lg-6
				%h2{ style: "color:white;"} Formación
				%p Servicio al cliente.
				%p Familia de normas ISO 9000 y 19011.
				%p Planificación estratégica.
				%p Comunicación y valores.
				%p Trabajo en equipo.
				%p Procura de materiales.
	.container
		= image_tag "frontend/servicios/image_second.png", style: "width: 80%; margin-top:30px; margin-bottom: 30px;"

	= render "footer"