= content_for(:title, "Cygnus | Equipo")
#team
	.image
		.centered
		.wrapper-box
			.text-box
				%span.text-primary
					Nuestro equipo de profesionales, trabajamos junto a usted
				= image_tag "frontend/clientes/flecha.png", id: "arrow", class: "hidden-xs"
			%span.text-second.hidden-xs
				Mas de 25 años de experiencia

	.container
		%h2{ style: "margin-bottom:30px; margin-top:20px;"} Nuestro equipo
		.col-lg-8.col-xs-12
			.container-personal
				= image_tag "frontend/equipo/personal-1.jpg", id: "img-1"
				.description-personal#description-left
					%h2.personal-name Ing. Annis Villegas, Msc.

					%p Ingeniero de Materiales - Metalurgia, Máster en Metalurgia, Máster en calidad y productividad, diplomado en competencias gerenciales, bilingüe. Mas de 25 años de experiencia en la inspección de equipos, control y aseguramiento de calidad, sistemas de gestión de calidad bajo la normativa ISO 9001, Auditora líder de sistemas de gestión de la calidad certificada (IRCA). Amplia experiencia en reclutamiento y selección de personal, evaluaciones de desempeño y elaboración de manuales de descripción de cargos. Auditora certificada por FONDONORMA.

		.col-lg-8.col-lg-offset-4.col-xs-12
			.container-personal
				= image_tag "frontend/equipo/personal-2.jpg", id: "img-2"
				.description-personal#description-right
					%h2.personal-name Ing. Blanca Urbina, Msc.

					%p Ingeniero Industrial, Máster en administración de empresas, diplomado en competencias gerenciales, bilingüe con mas de 24 años de experiencia en procesos productivos, de logística y procura así como sistemas de gestión de calidad bajo la norma ISO 9001. Amplia experiencia en manejo de sistemas de indicadores de gestión, formación de personal, evaluaciones de desempeño y elaboración de manuales de descripción de cargos. Auditora certificada de sistemas de gestión de calidad (IRCA). Auditora certificada por FONDONORMA.

	= render "footer"