#contact_us
  .container
    = render "layouts/frontend/messages"
    %h2
      Contacto
    .col-lg-7.col-md-7.col-sm-12.col-xs-12
      .content-form{style: "margin-top:5px;"}
        = form_tag({controller: "messages", action: "send_contact_message", method: "post"}, {class: "contact_form"}) do
          = text_field_tag :name, "", :class=>'form-control', :type => "text", :placeholder=>'Nombre', style: 'margin-bottom: 10px;'
          = text_field_tag :subject, "", :class=>'form-control', :type => "text", :placeholder=>'Asunto', style: 'margin-bottom: 10px;'
          = text_field_tag :email, "", :class=>'form-control', :type => "text", :placeholder=>'Email', style: 'margin-bottom: 10px;'
          = text_area_tag :content, "", :class=>'form-control' , :placeholder=>'Mensaje', style: 'margin-bottom: 10px; height: 150px;'
          #recaptcha_widget{:style => "display:block"}
            #recaptcha_image
            .input-group{ style:'margin-top: 5px; margin-bottom:10px;'}
              = text_field_tag :recaptcha_response_field, "",type: "text", id: "recaptcha_response_field", class: "form-control", placeholder: "Captcha"
              %span.input-group-btn
                = button_tag "<i class='fa fa-refresh'></i>".html_safe, :type => "button", class: "form-control", :onclick => "javascript:Recaptcha.reload(); return false;"
          = raw recaptcha_tags :display => { :theme => 'custom', lang: 'es' }, ajax: true
          = button_tag(type: 'submit', class: "btn btn-info", style:"width:100%") do
            %i.fa.fa-envelope.fa-2x
    .col-lg-5.info.col-md-5.col-sm-12.col-xs-12
      %p
        %label Dirección
        %br/
        %span Urbanización Adaro, Judibana, Falcon, Venezuela.

      %p
        %label Email
        %br/
        %span info@cygnuscon.net

      %p
        %label Teléfonos
        %br/
        %span +58 0414 - 693.03.22
        %br/
        %span +58 0414 - 696.69.91
      
      = image_tag "frontend/clientes/contact_logo.png", width: "150px", style: "margin-top: 30px; margin-bottom:30px; margin-left:0px;", class: "hidden-xs hidden-sm"

      %p
        %label Siguenos
        .content
          = link_to "#" do
            = image_tag "frontend/clientes/twitter.png", class: "socials"
          = link_to "#" do
            = image_tag "frontend/clientes/facebook.png", class: "socials"
        .content
          = link_to "#" do
            = image_tag "frontend/clientes/instagram.png", class: "socials"
          = link_to "#" do
            = image_tag "frontend/clientes/youtube.png", class: "socials"
        

= render "frontend/footer"


