-# navigation styled for Bootstrap 3.0
%nav.navbar-fixed-top#admin-navbar.hidden-xs.hidden-sm
	= render 'layouts/admin/navbar_content'
%nav.navbar-fixed-top.phone#admin-navbar.hidden-md.hidden-lg{'ng-style'=>"btnDelete? { 'background' : '#4758d3' }:{ 'background' : '#FFC107' }"}
	= render 'layouts/admin/navbar_content'