.main-devise {
	min-height: 100%;
	padding:  7%;
	background: image-url("admin/devise-bg.jpg") no-repeat;
	background-size: cover;
	
	
	.container {
		height: 100%;
	}

	.authform {
	  padding-top: 0px !important;
	  opacity: 0;
	  max-width: 350px;
	  margin: 0 auto;
	  background: rgba(51,51,51,0.7); 
	  border-radius: 3px;
	}

	.logo-login {
		width: 60px;
		padding-top: 20px;
		padding-bottom: 20px;
	}

	.form-group {
		padding: 15px;
		margin-bottom: 0px;
	}

	.input-group {
		min-height: 44px;
	}

	.input-group-addon {
		padding: 10px 10px;
		color: #d2d2d2;
		font-size: 13px;
		font-weight: normal;
		line-height: 1;
		text-align: center;
		background-color: rgba(221, 221, 221, 0.2);
		border: 1px solid transparent;
		border-radius: 3px;
	}

	label {
		font-weight: 300;
		color: #f8f8f8;
		max-width: 100%;
	}

	.transparent {
		min-height: 44px;
		border: none;
		color: #f8f8f8;
		background-color: rgba(51,51,51,0.4);
	}

	.form-control:focus {
		-webkit-box-shadow: none;
		box-shadow: none;
	}
	
	.form-actions {
		background: rgba(51,51,51, 0.25);
		padding: 15px;

	}	

	.btn {
		width: 100%;
		margin-bottom: 20px;
	}

	.btn-lg {
		padding: 10px 16px;
		font-size: 16.25px;
		line-height: 1.33;
		border-radius: 3px;
	}
	
	.btn-warning {
		-webkit-transition-duration: 0.3s;
		transition-duration: 0.3s;
	}

	.btn-warning:hover {
		-webkit-transition-duration: 0.3s;
		transition-duration: 0.3s;
	}

	.btn:focus {
		-webkit-box-shadow: none;
		box-shadow: none;
		outline: none;
	}

	.recoverable {
		width: 100%;
		text-align: center;
		
		a {
			color:white !important;
		}
	}
}