%head
	%link{:href => "http://fonts.googleapis.com/css?family=Lato:300,400,700,900,300italic,400italic,700italic,900italic", :rel => "stylesheet", :type => "text/css"}/
	%link{:href => "http://fonts.googleapis.com/css?family=Roboto:300, 400, 500", :rel => "stylesheet", :type => "text/css"}/
	%meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
	%title= content_for?(:title) ? yield(:title) : 'Cygnus Conocimiento ISO 9001-2008 Consultoria empresarial'
	%meta{:name => "description", :content => "#{content_for?(:description) ? yield(:description) : 'Cygnus es una empresa de referencia nacional con talento humano especializado, profesionales con experiencia en sistemas de gestión de calidad ISO 9001-2008, desarrollo organizacional, logística, auditorias de calidad, seguridad, higiene y ambiente.'}"}
	= stylesheet_link_tag 'frontend/application', media: 'all', 'data-turbolinks-track' => true
	= javascript_include_tag 'frontend/application', 'data-turbolinks-track' => true
	= csrf_meta_tags
	= favicon_link_tag "frontend/favicon.png"