%li= link_to 'Cygnus Conocimiento', main_app.about_path, class: "#{'active' if action_name == 'about' or action_name == 'home' }"
%li= link_to 'Servicios', main_app.services_path, class: "#{'active' if action_name == 'services' }"
%li= link_to 'Equipo', main_app.team_path, class: "#{'active' if action_name == 'team' }"
%li= link_to 'Clientes', main_app.clients_path, class: "#{'active' if action_name == 'clients' }"
%li= link_to 'Contacto', "/contact_us", class: "#{'active' if controller_name == 'messages' }"

