-# navigation styled for Bootstrap 3.0
%nav.navbar.navbar-default.navbar-fixed-top#front-navbar{ style: "#{ 'opacity:0;' if action_name == "home" }"}
  .container
    .navbar-header
      %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to main_app.root_path, class: "hidden-xs" do
        = image_tag "frontend/clientes/Logo header.png", width: "100px", style: "margin-top:-3px; margin-right:20px;"
      = link_to main_app.root_path, class: "navbar-brand visible-xs" do
        = image_tag "frontend/clientes/Logo header.png", width: "60px", style: "margin-top:-5px; margin-left:10px;"    
    .collapse.navbar-collapse
      %ul.nav.navbar-nav.hidden-lg.hidden-md.hidden-sm
        = render 'layouts/frontend/navigation_links'
      %ul.nav.navbar-nav.phone.hidden-xs.pull-right
        = render 'layouts/frontend/navigation_links'
