/*large desktop*/
@media(min-width:1200px) {
	#about {
		margin-top: 70px;
		
		.image {
			position: relative;
			margin-top: 70px;
			text-align: center;
			background: image-url("frontend/empresas/slide_empresa.png") no-repeat;
			background-size: cover;
			min-height: 350px;
		}

		#slide_empresa {
			width: 100%;
		}

		#image_second {
			width: 100%;
		}

		#container-about {
			margin-top: 30px;
			width: 100%;
			padding: 0px;
			margin-bottom: 50px;
		}

		#container-primary {
			padding: 50px;
			padding-top:10px;
			text-align: justify;

			p {
				font-size: 1em;
				color: #4d4d4d;
				font-weight: 300;
			}
		}
	}
}

/*media desktop*/
@media(min-width:992px){
}

/*phone*/
@media(max-width:767px) {
	#about {
		margin-top: 50px;
		
		.image {
			text-align: center;
			background: image-url("frontend/empresas/slide_empresa.png") no-repeat;
			background-size: cover;
			min-height: 350px;
			max-height: 350px;
			position: relative;
	    width: 100%;
		}

		#slide_empresa {
			width: 100%;
		}

		#image_second {
			width: 100%;
		}

		#container-about {

			h2 {
				margin: 15px !important;
			}

			width: 100%;
			padding: 0px;
			margin-bottom: 30px;

		}

		#container-primary {
			text-align: justify;
			margin-bottom: 20px;

			p {
				font-size: 1em;
				color: #4d4d4d;
				font-weight: 300;
			}
		}
	}
}

/*phone landscape*/
@media(max-width: 767px) and (orientation : landscape) {
}

/*tablet*/
@media(min-width:768px) {
	#about {
		margin-top: 70px;
		
		.image {
			position: relative;
			margin-top: 70px;
			text-align: center;
			background: image-url("frontend/empresas/slide_empresa.png") no-repeat;
			background-size: cover;
			min-height: 350px;
		}

		#slide_empresa {
			width: 100%;
		}

		#image_second {
			width: 100%;
		}

		#container-about {
			margin-top: 20px;
			width: 100%;
			padding: 0px;
			margin-bottom: 30px;
		}

		#container-primary {
			padding-left: 50px;
			padding-right: 50px;
			padding-bottom: 20px;
			text-align: justify;

			p {
				font-size: 1.12em;
				color: #4d4d4d;
				font-weight: 300;
			}
		}
	}
}

/*tablet portrait*/
@media(min-width:768px) and (orientation : portrait) {
}