/*large desktop*/
@media(min-width:1200px) {
	#clients {
		margin-top: 70px;
		
		.logos {
			width: 200px;
		}

		.image {
			position: relative;
			margin-top: 70px;
			text-align: center;
			background: black image-url("frontend/clientes/slide_clients.png") no-repeat;
			background-size: cover;
			min-height: 350px;
		}
	}
}

/*media desktop*/
@media(min-width:992px){
	#clients {
		margin-top: 70px;
		
		.logos {
			width: 200px;
		}

		.image {
			position: relative;
			margin-top: 70px;
			text-align: center;
			background: black image-url("frontend/clientes/slide_clients.png") no-repeat;
			background-size: cover;
			min-height: 350px;
		}
	}
}

/*phone*/
@media(max-width:767px) {

	#clients {
		margin-top: 50px;
		
		.logos {
			width: 100px;
		}

		img {
    	margin-bottom: 30px;
    }
		
		.image {
			text-align: center;
			background: image-url("frontend/clientes/slide_clients.png") no-repeat;
			background-size: cover;
			min-height: 350px;
			max-height: 350px;
			position: relative;
	    width: 100%;
		}
	}
}

/*phone landscape*/
@media(max-width: 767px) and (orientation : landscape) {
}

/*tablet*/
@media(min-width:768px) {
	#clients {
		margin-top: 50px;
		
		.logos {
			width: 150px;
		}

		img {
    	margin-bottom: 30px;
    }
		
		.image {
			text-align: center;
			background: image-url("frontend/clientes/slide_clients.png") no-repeat;
			background-size: cover;
			min-height: 350px;
			max-height: 350px;
			position: relative;
	    width: 100%;
		}
	}
}

/*tablet portrait*/
@media(min-width:768px) and (orientation : portrait) {
}