/*large desktop*/
@media(min-width:1200px) {
	#contact_us {
		margin-top: 70px;

		.content-form {
			background: #ddd;
			padding: 10px;
		}

		.form-control {
			border-radius: 0px;
			height: 50px;
		}

		.btn-info {
			background: #2a54a8;
			border-radius: 0px;
			border: 0px;
		}

		.socials {
			width: 50px;
			display: inline-block;
		}

		.content {
			margin-top: 20px;
		}

		label {
			font-family: 'Lato', sans-serif;
			font-style: italic;
			font-weight: 700;
			font-size: 1.1em;	
		}

		span {
			font-family: 'Lato', sans-serif;
			font-weight: 300;
			font-size: 1.1em;	
		}

		.info {
			padding-left: 50px;
		}
	}
}

/*media desktop*/
@media(min-width:992px){
	#contact_us {
		margin-top: 70px;

		.content-form {
			background: #ddd;
			padding: 10px;
		}

		.form-control {
			border-radius: 0px;
			height: 50px;
		}

		.btn-info {
			background: #2a54a8;
			border-radius: 0px;
			border: 0px;
		}

		.socials {
			width: 50px;
			display: inline-block;
		}

		.content {
			margin-top: 20px;
		}

		label {
			font-family: 'Lato', sans-serif;
			font-style: italic;
			font-weight: 700;
			font-size: 1.1em;	
		}

		span {
			font-family: 'Lato', sans-serif;
			font-weight: 300;
			font-size: 1.1em;	
		}
	}
}

/*phone*/
@media(max-width:767px) {
	#contact_us {
		margin-top: 50px;

		.content-form {
			background: #ddd;
			padding: 10px;
		}

		.form-control {
			border-radius: 0px;
			height: 50px;
		}

		.btn-info {
			background: #2a54a8;
			border-radius: 0px;
			border: 0px;
		}

		.socials {
			width: 50px;
			display: inline-block;
			margin-left: 35px;
		}

		.content {
			display: inline-block;
		}

		label {
			font-family: 'Lato', sans-serif;
			font-style: italic;
			font-weight: 700;
			font-size: 1.1em;	
		}

		span {
			font-family: 'Lato', sans-serif;
			font-weight: 300;
			font-size: 1.1em;	
		}

		.info {
			margin-top: 30px;
		}
	}
}

/*phone landscape*/
@media(max-width: 767px) and (orientation : landscape) {
}

/*tablet*/
@media(min-width:768px) {
	#contact_us {
		margin-top: 70px;

		.content-form {
			background: #ddd;
			padding: 10px;
		}

		.form-control {
			border-radius: 0px;
			height: 50px;
		}

		.btn-info {
			background: #2a54a8;
			border-radius: 0px;
			border: 0px;
		}

		.socials {
			width: 50px;
			display: inline-block;
		}
		
		a {
			padding: 10px;
		}

		.content {
			display: inline-block;
		}

		label {
			font-family: 'Lato', sans-serif;
			font-style: italic;
			font-weight: 700;
			font-size: 1.1em;	
		}

		span {
			font-family: 'Lato', sans-serif;
			font-weight: 300;
			font-size: 1.1em;	
		}

		.info {
			margin-top: 30px;
		}
	}
}

/*tablet portrait*/
@media(min-width:768px) and (orientation : portrait) {
}