html#frontend {
	height: 100%;

	body#frontend {
		height: 100%;
		font-family: 'Lato', sans-serif;
	}
	
	#recaptcha_image {
		min-width: 100%;
	}

	#recaptcha_image img {
		padding: 1px;
		width: 100%;
		height: 50px
	}
}

/*large desktop*/
@media(min-width:1200px) {
	#frontend {
		p {
			font-size: 16px;
			color: #4f4f4f;
			font-family: 'Roboto', sans-serif;
		}

		h2 {
			text-align: center;
			font-family: 'Lato', sans-serif;
			font-style: italic;
			font-weight: 700;
			color: #2a54a8;
		}

		.image {
			.wrapper-box {
				position: absolute;
				min-width: 670px;
				bottom: 35%;
				left: 15%;
				width: 50%;
				

				.text-box {
					-webkit-animation: effect-textbox 1s;
					animation: effect-textbox 1s;
					position: relative;
					width: 40%;
					padding: 25px;
					background: linear-gradient(45deg,  transparent 30px, rgba(0, 0, 0, 0.89) 0) bottom left;
				}

				#arrow {
					position: absolute;
					top: 80px;
					left: 40px;
					-webkit-animation: arrow 2s;
					animation: arrow 2s;
				}

				.text-primary {
					font-family: 'Lato', sans-serif;
					font-size: 1.3em;
					font-weight: 700;
					font-style: italic;
					color: white;
				}

				.text-second {
					-webkit-animation: effect-text 2s;
					animation: effect-text 2s;
					position: absolute;
					bottom: -35px;
					left: 20%;
					font-family: 'Lato', sans-serif;
					font-size: 1.5em;
					font-weight: 700;
					color: white;
				}
			}
		}
	}

	footer { 
		.image-footer {
			background: image-url("frontend/clientes/Footer.png") no-repeat;
			background-size: 100% 100px;
			height: 100px;
			text-align: center;

			.text {
				height: 100px;
				padding-top: 75px;
				font-weight: 700;
				font-size: 0.9em;
				color: #4f4f4f;
			}
		}

		.credits {
			font-size: 13px;
			background: #2a54a8;
			color: white;
			padding: 15px;
		}
	}
}

/*media desktop*/
@media(min-width:992px){
	#frontend {
		p {
			font-size: 16px;
			font-family: 'Roboto', sans-serif;
			color: #4f4f4f;
		}

		h2 {
			font-family: 'Lato', sans-serif;
			font-style: italic;
			font-weight: 700;
			color: #2a54a8;
		}

		.image {
			.wrapper-box {
				position: absolute;
				min-width: 670px;
				bottom: 35%;
				left: 15%;
				width: 50%;
				

				.text-box {
					-webkit-animation: effect-textbox 1s;
					animation: effect-textbox 1s;
					position: relative;
					width: 40%;
					padding: 25px;
					background: linear-gradient(45deg,  transparent 30px, rgba(0, 0, 0, 0.89) 0) bottom left;
				}

				#arrow {
					position: absolute;
					top: 80px;
					left: 40px;
					-webkit-animation: arrow 2s;
					animation: arrow 2s;
				}

				.text-primary {
					font-family: 'Lato', sans-serif;
					font-size: 1.3em;
					font-weight: 700;
					font-style: italic;
					color: white;
				}

				.text-second {
					-webkit-animation: effect-text 2s;
					animation: effect-text 2s;
					position: absolute;
					bottom: -35px;
					left: 20%;
					font-family: 'Lato', sans-serif;
					font-size: 1.5em;
					font-weight: 700;
					color: white;
				}
			}
		}
	}

	footer { 
		.image-footer {
			text-align: center;
			background: image-url("frontend/clientes/Footer.png") no-repeat;
			background-size: 100% 100px;
			height: 100px;

			.text {
				height: 100px;
				padding-top: 75px;
				font-weight: 700;
				font-size: 0.9em;
				color: #4f4f4f;
			}
		}

		.credits {
			font-size: 13px;
			background: #2a54a8;
			color: white;
			padding: 15px;
		}
	}
}

/*phone*/
@media(max-width:767px) {
	#frontend {
		p {
			font-size: 16px;
			font-family: 'Roboto', sans-serif;
			color: #4f4f4f;
		}

		h2 {
			text-align: center;
			font-family: 'Lato', sans-serif;
			font-style: italic;
			font-weight: 700;
			color: #2a54a8;
		}

		.centered {
			  padding-top: 100%; /* forces 1:1 aspect ratio */
			}

		.wrapper-box {
			position: absolute;
	    top: 0;
	    bottom: 0;
	    left: 0;
	    right: 0;
	    text-align:center; /* Align center inline elements */

			.text-box {
				vertical-align: middle;
 				display: inline-block;
				min-width: 200px;
				width: 90%;
				padding: 25px;
				background: rgba(0, 0, 0, 0.89);
			}

			.text-primary {
				font-family: 'Lato', sans-serif;
				font-size: 1.3em;
				font-weight: 700;
				font-style: italic;
				color: white;
			}

			.text-second {
				position: absolute;
				left: 20%;
				font-family: 'Lato', sans-serif;
				font-size: 1.5em;
				font-weight: 300;
				color: white;
			}
		}

		.wrapper-box:before {
	    content: ' ';
	    display: inline-block;
	    vertical-align: middle;
	    height: 100%;
		}
	}

	footer { 
		.image-footer {
			text-align: center;
			background: image-url("frontend/clientes/Footer.png") no-repeat;
			background-size: 100% 100px;

			.text {
				height: 100px;
				padding-top: 75px;
				font-weight: 700;
				font-size: 0.9em;
				color: #4f4f4f;
			}
		}

		.credits {
			font-size: 13px;
			background: #2a54a8;
			color: white;
			padding: 15px;
		}
	}
}

/*phone landscape*/
@media(max-width: 767px) and (orientation : landscape) {
}

/*tablet*/
@media(min-width:768px) {
	#frontend {
		p {
			font-size: 16px;
			font-family: 'Roboto', sans-serif;
			color: #4f4f4f;
		}

		h2 {
			font-family: 'Lato', sans-serif;
			font-style: italic;
			font-weight: 700;
			color: #2a54a8;
		}

		.image {
			.wrapper-box {
				position: absolute;
				min-width: 620px;
				bottom: 35%;
				left: 15%;
				width: 50%;
				

				.text-box {
					-webkit-animation: effect-textbox 1s;
					animation: effect-textbox 1s;
					position: relative;
					width: 40%;
					padding: 25px;
					background: linear-gradient(45deg,  transparent 30px, rgba(0, 0, 0, 0.89) 0) bottom left;
				}

				#arrow {
					position: absolute;
					top: 80px;
					left: 40px;
					-webkit-animation: arrow 2s;
					animation: arrow 2s;
				}

				.text-primary {
					font-family: 'Lato', sans-serif;
					font-size: 1.3em;
					font-weight: 700;
					font-style: italic;
					color: white;
				}

				.text-second {
					-webkit-animation: effect-text 2s;
					animation: effect-text 2s;
					position: absolute;
					bottom: -35px;
					left: 20%;
					font-family: 'Lato', sans-serif;
					font-size: 1.5em;
					font-weight: 700;
					color: white;
				}
			}
		}
	}

	footer { 
		.image-footer {
			text-align: center;
			background: image-url("frontend/clientes/Footer.png") no-repeat;
			background-size: 100% 100px;
			height: 100px;

			.text {
				height: 100px;
				padding-top: 75px;
				font-weight: 700;
				font-size: 0.9em;
				color: #4f4f4f;
			}
		}

		.credits {
			font-size: 13px;
			background: #2a54a8;
			color: white;
			padding: 15px;
		}
	}
}

/*tablet portrait*/
@media(min-width:768px) and (orientation : portrait) {
}

@-webkit-keyframes effect-textbox {
		0% {
		  left: -500px;
		}

		100% {
		  left: 0px;
		}
	}

	@keyframes effect-textbox {
		0% {
		  left: -500px;
		}

		100% {
		  left: 0px;
		}
	}

	@-webkit-keyframes effect-text {
		0% {
		  left: -500px;
		}
		
		50% {
			left: 22%;
		}


		100% {
		  left: 20%;
		}
	}

	@keyframes effect-text {
		0% {
		  left: -500px;
		}
		
		50% {
			left: 22%;
		}

		100% {
		  left: 20%;
		}
	}

	@-webkit-keyframes arrow {
		0% {
		  left: -500px;
		}

		50% {
			left: 50px;
		}

		100% {
		  left: 40px;
		}
	}

	@keyframes arrow {
		0% {
		  left: -500px;
		}

		50% {
			left: 50px;
		}

		100% {
		  left: 40px;
		}
	}