/*large desktop*/
@media(min-width:1200px) {

}

/*media desktop*/
@media(min-width:992px){
	
	#home {
		position: relative;
		min-height: 100%;
		width: 100%;
		background: image-url("frontend/home/background.png") no-repeat fixed;
		background-size: cover;
		
		.centered {
		}

		#container-home {
	    position: absolute;
	    top: 0;
	    bottom: 0;
	    left: 0;
	    right: 0;

	    text-align:center; /* Align center inline elements */
	    font: 0/0 a;
		}

		#container-home:before {
	    content: ' ';
	    display: inline-block;
	    vertical-align: middle;
	    height: 100%;
		}
		
		#container-logo {
			vertical-align: middle;
    	display: inline-block;
			

    	.text-home {
    		opacity: 0;
    		font-family: 'Lato', sans-serif;
				border-radius: 5px;
				text-decoration: none;
				padding: 10px;
				padding-top: 5px;
				padding-bottom: 8px;
				font-size: 18px;
				font-style: italic;
				font-weight: 900;
				color: white;
				background-color: #d69d2b;
				width: 100%;
				text-align: center;
			}

			a {
				text-decoration: none;
			}

			a:hover {
				text-decoration: none;
			}	

			#scrolldown {
				opacity: 0;
				position: relative;
				color: white;
				bottom: -50px;
				text-align: center;
				height: 48px;
				width: 48px;
				font-size: 60px
			}

			#scrolldown:hover {
				bottom: -60px;
			}

			.text-animate {
				-webkit-animation: text-click 2s alternate;
				animation: text-click 2s;
				opacity: 1 !important;
			}
			
			#logo_cygnus {
				position: relative;
				margin-top: -30px;
				max-width: 200px;
				margin-bottom: 30px;
				-webkit-animation: logo 1s;
				animation: logo 1s;
			}

		}

		#footer-home {
			position: absolute;
			width: 100%;
			left: 0px;
			bottom: 0px;
		}
	}
}

/*phone*/
@media(max-width:767px) {
	
	#home {
		position: relative;
		min-height: 100%;
		width: 100%;
		background: image-url("frontend/home/background.png") no-repeat fixed;
		background-size: cover;

		.centered {

		}

		#container-home {
	    position: absolute;
	    top: 0;
	    bottom: 0;
	    left: 0;
	    right: 0;

	    text-align:center; /* Align center inline elements */
	    font: 0/0 a;
		}

		#container-home:before {
	    content: ' ';
	    display: inline-block;
	    vertical-align: middle;
	    height: 100%;
		}
		
		#container-logo {
			vertical-align: middle;
    	display: inline-block;

    	.text-home {
    		font-family: 'Lato', sans-serif;
				border-radius: 5px;
				text-decoration: none;
				padding: 10px;
				padding-top: 5px;
				padding-bottom: 8px;
				font-size: 14px;
				font-style: italic;
				font-weight: 900;
				color: white;
				background-color: #d69d2b;
				width: 100%;
				text-align: center;
			}

			a {
				text-decoration: none;
			}

			a:hover {
				text-decoration: none;
			}

			#scrolldown {
				opacity: 1;
				position: relative;
				color: white;
				bottom: -50px;
				text-align: center;
				height: 48px;
				width: 48px;
				font-size: 60px
			}

			#scrolldown:hover {
				bottom: -60px;
			}

			#logo_cygnus {
				margin-top: -30px;
				max-width: 150px;
				margin-bottom: 30px;
			}
		}

		#footer-home {
			position: absolute;
			width: 100%;
			left: 0px;
			bottom: 0px;
		}
	}	
}

/*phone landscape*/
@media(max-width: 767px) and (orientation : landscape) {
}

/*tablet*/
@media(min-width:768px) {

	#home {
		position: relative;
		min-height: 100%;
		width: 100%;
		background: image-url("frontend/home/background.png") no-repeat fixed;
		background-size: cover;

		.centered {

		}

		#container-home {
	    position: absolute;
	    top: 0;
	    bottom: 0;
	    left: 0;
	    right: 0;

	    text-align:center; /* Align center inline elements */
	    font: 0/0 a;
		}

		#container-home:before {
	    content: ' ';
	    display: inline-block;
	    vertical-align: middle;
	    height: 100%;
		}
		
		#container-logo {
			vertical-align: middle;
    	display: inline-block;

    	.text-home {
    		font-family: 'Lato', sans-serif;
				border-radius: 5px;
				text-decoration: none;
				padding: 10px;
				padding-top: 5px;
				padding-bottom: 8px;
				font-size: 18px;
				font-style: italic;
				font-weight: 900;
				color: white;
				background-color: #d69d2b;
				width: 100%;
				text-align: center;
			}

			#scrolldown {
				opacity: 0;
				position: relative;
				color: white;
				bottom: -50px;
				text-align: center;
				height: 48px;
				width: 48px;
				font-size: 60px
			}

			#scrolldown:hover {
				bottom: -60px;
			}

			.text-animate {
				-webkit-animation: text-click 2s alternate;
				animation: text-click 2s;
				opacity: 1 !important;
			}
		}
		
		#logo_cygnus {
			margin-top: -30px;
			max-width: 200px;
			margin-bottom: 30px;
		}

		#footer-home {
			position: absolute;
			width: 100%;
			left: 0px;
			bottom: 0px;
		}
	}
}

/*tablet portrait*/
@media(min-width:768px) and (orientation : portrait) {
}


/*keyframes*/
@-webkit-keyframes logo {
	0% {
	  top: -500px;
	  opacity: 0;
	}

	100% {
	  top: 0px;
	  opacity: 1;
	}
}

@keyframes logo {
	0% {
	  top: -500px;
	}

	100% {
	  top: 0px;
	}
}

/*keyframes*/
@-webkit-keyframes text-click {
	0% {
	  opacity: 0;
	}

	100% {
	  opacity: 1;
	}
}

@keyframes text-click {
	0% {
	  opacity: 0;
	}

	100% {
	  opacity: 1;
	}
}