#front-navbar.navbar-default {
	a:hover {
		color: #d69d2b;
		-webkit-transition-duration: 0.5s;
	}
}

/*large desktop*/
@media(min-width:1200px) {
	#front-navbar.navbar-default {
		margin-bottom: 0px;
		height: 70px;
		font-weight: bold;
		font-size: 14px;
		background-color: white;
		margin-bottom: 0px;
		border-radius: 0px;
		border: none;
		box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.17);
		
		.container {
			padding-top: 12px;
			width: 80%;
		}
		
		ul {
			margin-top: -3px;
		}

		a {
			font-family: 'Lato', sans-serif;
			color: #2a54a8;
			font-style: italic;
			font-weight: 700;
			font-size: 14px;
		}

		a.active {
			font-family: 'Lato', sans-serif;
			color: #d69d2b;
			font-style: italic;
			font-weight: 700;
			font-size: 20px;
		}
	}
}

/*media desktop*/
@media(min-width:992px){
	#front-navbar.navbar-default {
		margin-bottom: 0px;
		height: 70px;
		font-weight: bold;
		font-size: 14px;
		background-color: white;
		margin-bottom: 0px;
		border-radius: 0px;
		border: none;
		box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.17);
		
		.container {
			padding-top: 12px;
			width: 80%;
		}
		
		ul {
			margin-top: -3px;
		}

		a {
			font-family: 'Lato', sans-serif;
			color: #2a54a8;
			font-style: italic;
			font-weight: 700;
			font-size: 20px;
		}

		a.active {
			font-family: 'Lato', sans-serif;
			color: #d69d2b;
			font-style: italic;
			font-weight: 700;
			font-size: 20px;
		}
	}
}

/*phone*/
@media(max-width:767px) {
	#front-navbar.navbar-default {
		background: white;
		
		ul {
			margin-top: -3px;
		}

		a {
			font-family: 'Lato', sans-serif;
			color: #2a54a8;
			font-style: italic;
			font-weight: 700;
			font-size: 15px;
		}

		a.active {
			font-family: 'Lato', sans-serif;
			color: #d69d2b;
			font-style: italic;
			font-weight: 700;
			font-size: 15px;
		}
	}
}

/*phone landscape*/
@media(max-width: 767px) and (orientation : landscape) {
}

/*tablet*/
@media(min-width:768px) {
	#front-navbar.navbar-default {
		margin-bottom: 0px;
		height: 70px;
		font-weight: bold;
		font-size: 14px;
		background-color: white;
		margin-bottom: 0px;
		border-radius: 0px;
		border: none;
		box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.17);
		
		.container {
			padding-top: 12px;
			width: 80%;
		}
		
		ul {
			margin-top: -3px;
		}

		a {
			font-family: 'Lato', sans-serif;
			color: #2a54a8;
			font-style: italic;
			font-weight: 700;
			font-size: 18px;
		}

		a.active {
			font-family: 'Lato', sans-serif;
			color: #d69d2b;
			font-style: italic;
			font-weight: 700;
			font-size: 18px;
		}
	}
}

/*tablet portrait*/
@media(min-width:768px) and (orientation : portrait) {

}