/*large desktop*/
@media(min-width:1200px) {
	#services {
		margin-top: 70px;
		
		.image {
			position: relative;
			margin-top: 70px;
			text-align: center;
			background: black image-url("frontend/servicios/slide_services.png") no-repeat;
			background-size: cover;
			min-height: 350px;
		}

		.list-services {
			background: #e99e10;
			padding-bottom: 20px;
			padding-top: 10px;
			
			.container-list {
				text-align:center;
				width:70%;
			}

			h2 {
				margin-bottom: 30px;
			}

			p {
				color: white;
				font-size: 1.2em;
				margin-bottom: 10px;
			}
		}
	}
}

/*media desktop*/
@media(min-width:992px){
	#services {
		margin-top: 70px;
		
		.image {
			position: relative;
			margin-top: 70px;
			text-align: center;
			background: black image-url("frontend/servicios/slide_services.png") no-repeat;
			background-size: cover;
			min-height: 350px;
		}

		.list-services {
			background: #e99e10;
			padding-bottom: 20px;
			padding-top: 10px;
			
			.container-list {
				text-align:center;
				width:70%;
			}

			h2 {
				margin-bottom: 30px;
			}

			p {
				color: white;
				font-size: 1.2em;
				margin-bottom: 10px;
			}
		}
	}
}

/*phone*/
@media(max-width:767px) {

	#services {
		margin-top: 50px;
		
		.image {
			text-align: center;
			background: image-url("frontend/servicios/slide_services.png") no-repeat;
			background-size: cover;
			min-height: 350px;
			max-height: 350px;
			position: relative;
	    width: 100%;
		}
		
		.list-services {
			background: #e99e10;
			padding-bottom: 20px;
			padding-top: 10px;
			
			.container-list {
				text-align:center;
				 width:95%;
			}

			h2 {
				margin-bottom: 30px;
			}

			p {
				color: white;
				font-size: 1.2em;
				margin-bottom: 10px;
			}
		}

	}
}

/*phone landscape*/
@media(max-width: 767px) and (orientation : landscape) {
}

/*tablet*/
@media(min-width:768px) {
	#services {
		margin-top: 70px;
		
		.image {
			position: relative;
			margin-top: 70px;
			text-align: center;
			background: black image-url("frontend/servicios/slide_services.png") no-repeat;
			background-size: cover;
			min-height: 350px;
		}

		.list-services {
			background: #e99e10;
			padding-bottom: 20px;
			padding-top: 10px;
			
			.container-list {
				text-align:center;
				width:70%;
			}

			h2 {
				margin-bottom: 30px;
			}

			p {
				color: white;
				font-size: 1.2em;
				margin-bottom: 10px;
			}
		}
	}
}

/*tablet portrait*/
@media(min-width:768px) and (orientation : portrait) {
}