/*large desktop*/
@media(min-width:1200px) {
	#team {
		margin-top: 70px;
		
		.image {
			position: relative;
			margin-top: 70px;
			text-align: center;
			background: black image-url("frontend/equipo/slide_team.png") no-repeat;
			background-size: cover;
			min-height: 350px;
		}	

		.container {
			margin-top: 30px;
			margin-bottom: 30px;
			width: 80%;
		}

		.container-personal {
			position: relative;
			height: 200px;
			margin-top: 30px;
			margin-bottom: 50px;

			img {
				max-width: 200px;
			}

			#img-1 {
				position: absolute;
				left: 0px;
				top: 0px;
			}

			#img-2 {
				position: absolute;
				right: 0px;
				top: 0px;
			}
			

			.description-personal {
				position: absolute;
				text-align: justify;
				.personal-name {
					color: #4d4d4d;
				}
				p {
					font-size: 1em;
					color: #4d4d4d;
					font-weight: 300;
				}

				h2 {
					text-align: left;
					margin-top: 0px;
					font-size: 25px;
				}
			}

			#description-left {
				width: 60%;
				top: 0px;
				left: 220px;
			}

			#description-right {
				width: 60%;
				top: 0px;
				right: 220px;

				h2 {
					text-align: right;
				}
			}
		}
	}
}

/*media desktop*/
@media(min-width:992px){
	#team {
		margin-top: 70px;
		
		h2 {
			margin-top: 0px;
		}

		.image {
			position: relative;
			margin-top: 70px;
			text-align: center;
			background: black image-url("frontend/equipo/slide_team.png") no-repeat;
			background-size: cover;
			min-height: 350px;
		}	

		.container {
			width: 80%;
		}

		.container-personal {
			position: relative;
			height: 200px;
			margin-top: 30px;
			margin-bottom: 50px;

			img {
				max-width: 200px;
			}

			#img-1 {
				position: absolute;
				left: 0px;
				top: 0px;
			}

			#img-2 {
				position: absolute;
				right: 0px;
				top: 0px;
			}
			

			.description-personal {
				position: absolute;
				text-align: justify;
				.personal-name {
					color: #4d4d4d;
				}
				p {
					color: #4d4d4d;
				}

				h2 {
					text-align: left;
					margin-top: 0px;
					font-size: 25px;
				}
			}

			#description-left {
				width: 60%;
				left: 220px;
			}

			#description-right {
				width: 60%;
				right: 220px;

				h2 {
					text-align: right;
				}
			}
		}
	}
}

/*phone*/
@media(max-width:767px) {

	#team {
		margin-top: 50px;
		
		.image {
			text-align: center;
			background: image-url("frontend/equipo/slide_team.png") no-repeat;
			background-size: cover;
			min-height: 350px;
			max-height: 350px;
			position: relative;
	    width: 100%;
		}

		.container {
			width: 100%;
			padding: 0px;
		}

		.container-personal {
			margin-top: 20px;

			img {
				width: 100%;
			}

			#img-1 {
			}

			#img-2 {
			}
			

			.description-personal {
				text-align: justify;
				.personal-name {
					color: #4d4d4d;
				}
				p {
					font-size: 1em;
					color: #4d4d4d;
				}

				h2 {
					text-align: center;
					margin-top: 10px;
					font-size: 25px;
				}
			}

			#description-left {
			}

			#description-right {
			}
		}
	}
}

/*phone landscape*/
@media(max-width: 767px) and (orientation : landscape) {
}

/*tablet*/
@media(min-width:768px) {
	#team {
		margin-top: 70px;
		
		.image {
			position: relative;
			margin-top: 70px;
			text-align: center;
			background: black image-url("frontend/equipo/slide_team.png") no-repeat;
			background-size: cover;
			min-height: 350px;
		}	

		.container {
			width: 80%;
		}

		.container-personal {
			position: relative;
			height: 200px;
			margin-top: 30px;
			margin-bottom: 50px;

			img {
				max-width: 200px;
			}

			#img-1 {
				position: absolute;
				left: 0px;
				top: 0px;
			}

			#img-2 {
				position: absolute;
				right: 0px;
				top: 0px;
			}
			

			.description-personal {
				position: absolute;
				text-align: justify;
				.personal-name {
					color: #4d4d4d;
				}
				p {
					color: #4d4d4d;
				}

				h2 {
					text-align: left;
					margin-top: 0px;
					font-size: 25px;
				}
			}

			#description-left {
				width: 60%;
				left: 220px;
			}

			#description-right {
				width: 60%;
				right: 220px;

				h2 {
					text-align: right;
				}
			}
		}
	}
}

/*tablet portrait*/
@media(min-width:768px) and (orientation : portrait) {
}